<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Bootstrap demo</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>
</head>
<body data-bs-theme="dark">
	<nav class="navbar navbar-expand-lg bg-body-tertiary">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">My Sign-Off</a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<nav class="nav-link" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
					<ol class="breadcrumb" style="--bs-breadcrumb-margin-bottom:0rem; padding-left:1rem;">
						<li class="breadcrumb-item">
							<i class="bi bi-house-fill"></i>&nbsp;
							<a href="/MySignoff/home">Home</a>
						</li>
						<li class="breadcrumb-item active" aria-current="page">
							<i class="bi bi-briefcase-fill"></i>&nbsp;
							<span th:text="${project?.name}">Project</span>
						</li>
					</ol>
				</nav>
			</div>
		</div>
	</nav>
	<table class="table table-condensed">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Key</th>
				<th scope="col">Title</th>
				<th scope="col">Creater</th>
				<th scope="col">Assignee</th>
				<th scope="col">Create Date</th>
				<th scope="col">Update Date</th>
				<th scope="col">Status</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="issue, item : ${issues}">
				<td scope="row" th:text="${(item?.index+1)}">0</td>
				<td scope="col" th:text="${issue?.key}">Key</td>
				<td scope="col">
					<a th:href="@{'/MySignoff/issue/' + ${issue?.key}}" th:text="${issue?.title}">Title</a>
				</td>
				<td scope="col" th:text="${issue?.creator}">Creator</td>
				<td scope="col" th:text="${issue?.assignee}">Assignee</td>
				<td scope="col" th:text="${issue?.createdate}">Create Date</td>
				<td scope="col" th:text="${issue?.updatedate}">Update Date</td>
				<td scope="col" th:text="${issue?.status}">Status</td>
			</tr>
		</tbody>
	</table>
</body>
</html>